src/Menees.Analyzers/Menees.Analyzers.Settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="NonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="Menees.Analyzers.Settings">
		<xs:complexType>
			<xs:all>
				<xs:element name="TabSize" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
				<xs:element name="MaxLineColumns" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
				<xs:element name="MaxMethodLines" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
				<xs:element name="MaxPropertyAccessorLines" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
				<xs:element name="MaxFileLines" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
				<xs:element name="MaxUnregionedLines" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>

				<xs:element name="TypeFileNameExclusions" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element name="FileName" type="NonEmptyString"/>
							<xs:element name="FileRegex" type="NonEmptyString"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>

				<xs:element name="AllowedNumericLiterals" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="Literal" type="xs:decimal"/>
							<xs:element name="CallerName" type="NonEmptyString"/>
							<xs:element name="CallerRegex" type="NonEmptyString"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>

				<xs:element name="UnitTestAttributes" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element name="Class" type="NonEmptyString"/>
							<xs:element name="Method" type="NonEmptyString"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="PreferredTerms" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element name="Term">
								<xs:complexType>
									<xs:attribute name="Avoid" use="required"/>
									<xs:attribute name="Prefer" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>